<footer class="footer fixed-bottom" style="background-color: black; color: white; padding: 5px; text-align:center;">
    <span>Copyright &copy; <script>document.write(new Date().getFullYear())</script></span>
</footer>