{{>header}}
    <div class="container mt-5">
        <legend>About</legend>
        <hr>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus vel nobis esse laborum ab distinctio rem quos quaerat eius quis magnam accusamus explicabo obcaecati porro aperiam atque, itaque consequatur necessitatibus quo. Laudantium mollitia autem consequatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum laborum eos cumque corporis nesciunt ipsum voluptatibus laudantium quos architecto nobis delectus quis amet, voluptate quibusdam explicabo animi praesentium voluptates? Quis omnis, eaque quisquam nam quae debitis vitae enim veniam dolor deleniti fuga soluta, cupiditate dolorum et ex veritatis quo sint, provident aut accusantium illo adipisci? Nihil molestias nesciunt perspiciatis voluptatum maxime. Laboriosam enim rerum sed, non, porro quis cum ullam, nisi nobis sit possimus dolorem mollitia distinctio unde? Cupiditate non pariatur aperiam vitae. Aliquam voluptatum molestiae ex qui dolores officia veniam atque eligendi tenetur nihil! Nostrum recusandae explicabo suscipit corporis.</p>
    </div>
{{>footer}}